@using System.Data
@{
    ViewBag.Title = "AgregarClasificacion";
    Layout = "~/Views/Admin_principal_/Admin_Principal.cshtml";
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>*@
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<link href="~/Scripts/animate.css" rel="stylesheet" />


<div class="clearfix"> </div>

<div class="x_panel">
    <div class="x_title">
        <h2>Agregar Clasificaciones de Comidas </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>

            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        <button data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-danger"> Agregar clasificaciones</button>
    </div>
</div>




<div class="clearfix"> </div>

<div class="x_panel">
    <div class="x_title">
        <h2>Clasificaciones de comidas </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
               
            </li>

            <li>

            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <table>
            @using (Ajax.BeginForm("Actualizar_Datos_Clas", "Admin_principal_", new AjaxOptions() { HttpMethod = "POST" }))
            {
                <td> <input class="form-control" name="Nombre" value="@ViewBag.Nombre" type="text" /> </td>
                <td> <input name="id" style="visibility:hidden" value="@ViewBag.Id" /> </td>
                <td>
                    @Html.AntiForgeryToken() <button class="btn btn-outline-danger"> Actualizar Clasificación</button>
                </td>}
        </table>



    </div>
</div>







<div class="clearfix"> </div>

<div class="x_panel">
    <div class="x_title">
        <h2>Lista de Clasificaciones de Comidas </h2>
        <br /><br />
        @using (Ajax.BeginForm("ReporteClasificacion", "Admin_principal_", new AjaxOptions() { HttpMethod = "POST" }))
        { @Html.AntiForgeryToken()<button class="btn btn-success" style="border:0px; left:5%;">Generar Reporte</button>}
        <ul class="nav navbar-right panel_toolbox">
            <li>
               
            </li>

            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>


    <div class="x_content">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Actualizar</th>
                    <th>Eliminar</th>
                </tr>
            <tbody>

                @foreach (DataRow row in Model.Rows)
                {

                    <tr id="fila_@row["ID_clasificacion"]">
                  

                        <td>@row["Nombre"]</td>
                       
                        <td>
                            @using (Ajax.BeginForm("Consulta_Clasificacion", "Admin_principal_", new { id_cla = @row["ID_clasificacion"] }, new AjaxOptions() { HttpMethod = "POST" }))
                            {@Html.AntiForgeryToken()  <button type="submit" class="btn btn-success">✓</button> }
                        </td>
                        <td>
                            @using (Ajax.BeginForm("Eliminar_Datos_Clas", "Admin_principal_", new { id_cla = @row["ID_clasificacion"] }, new AjaxOptions() { HttpMethod = "POST" }))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-danger">X</button>
                            }

                        </td>


                    </tr>

                }
            </tbody>

        </table>
    </div>
</div>


<!--Modal-->
@using (Ajax.BeginForm("AgregarClas", "Admin_principal_", new AjaxOptions() { HttpMethod = "POST" }))
{ @Html.AntiForgeryToken()
    <div class="fade animated modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">Agregar Clasificacion</h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name " class="col-form-label"></label>
                            <input type="text" name="Clasificacion" class="form-control" required="required" placeholder="Ingrese clasificacion" id="recipient-name">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">

                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </div>
        </div>
    </div>
}


@using (Ajax.BeginForm("Actualizar_Datos_Clas", "Admin_principal_", new AjaxOptions() { HttpMethod = "POST" }))
{

    <div class="modal fade" id="Editar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">Agregar Clasificacion</h2>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name " class="col-form-label"></label>
                            <input type="text" name="Clasificacion" class="form-control" required="required" placeholder="Actualizar medida" id="recipient-name" />
                        </div>

                    </form>
                </div>
                <div class="modal-footer">

                    <button type="submit" class="btn btn-primary">Editar</button>
                </div>
            </div>
        </div>
    </div>
}


