
@{
    ViewBag.Title = "Perfil_Admin";
    Layout = "~/Views/Admin_principal_/Admin_Principal.cshtml";
}


<!DOCTYPE html>

<html>

<head>

</head>

<body>



    <h1>Mi Perfil</h1>
    <p></p>
    <p></p>
    <div class="row">
        <div class="col-sm-4  widget widget_tally_box">
            <div class="x_panel fixed_height_390">
                <div class="x_content">

                    <div class="flex">
                        <ul class="list-inline widget_profile_box">
                            <li>
                                <a>
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <img src="~/Conten_admin/production/images/user.png" alt="..." class="img-circle profile_img">
                            </li>
                            <li>
                                <a>
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <h3 class="name">@Session["Nombre_Admin"]</h3>

                    <div class="flex">
                        <ul class="list-inline count2">

     

                            <table class="table-condensed">
                                <tbody>

                                    <tr><th >  ID : @Session["Id_Admin"]</th></tr>
                                    <tr></tr>
                                    <tr><th>Nombre : @Session["Nombre_perfil"]</th></tr>
                                    <tr></tr>
                                    <tr><th>Apellido : @Session["Apellido"]</th> </tr>
                                    <tr></tr>
                                    <tr><th>Email : @Session["Email"]</th></tr>
                                    <tr></tr>
                                    <tr><th>contraseña : @Session["Contraseña"]</th></tr>


                                    <tr>
                                        <button type="button" onclick="perfil()" class="btn btn-info btn-sm">Editar Perfil</button>
                                    </tr>

                                  </tbody>
                            </table>
                    </div>
                    <p>
                    </p>
                </div>
            </div>
        </div>

        <link href="~/Scripts/animate.css" rel="stylesheet" />
        <div id="perfil" style="display:none"  class="col-md-8 col-sm-8 col-xs-8 bounceIn" widget widget_tally_box">
            <div class="x_panel fixed_height_390">
                <div class="x_content">

                    <div class="flex">

                    </div>
                    @using (Ajax.BeginForm("Actualizar_Datos_perfil", "Admin_principal_", new AjaxOptions() { HttpMethod = "POST" }))
                    {@Html.AntiForgeryToken()
                        <h3 class="name">Editar Perfil</h3>

                        <div class="flex">
                            <ul class="list-inline count2">

                                <table class="table-condensed">
                                    <tbody>

                                        <tr><th>Nombre : </th> <td><input name="Nombre" value="@Session["Nombre_perfil"]" type="text" class="form-control"></td></tr>
                                        <tr></tr>
                                        <tr><th>Apellido : </th> <td> <input name="Apellido" type="text" value="@Session["Apellido"]" class="form-control"> </td> </tr>
                                        <tr></tr>
                                        <tr><th>Email :</th> <td> <input type="text" name="Email" value="@Session["Email"]" class="form-control"> </td></tr>
                                        <tr></tr>
                                        <tr><th>contraseña :</th> <td> <input type="text" name="Contraseña" value="@Session["Contraseña"]" class="form-control"> </td></tr>

                                    </tbody>
                                </table>
                            </ul>

                        </div>
                        <p>
                            <button type="submit" class="btn btn-info btn-sm">Guardar Datos</button>
                        </p>
                    }
                  
                </div>

            </div>

        </div>



    </div>
    <script>
        function perfil() {
            $("#perfil").toggle(100);
        }
     
    </script>


</body>
